// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Arvo:400,700|Sanchez);

// Vars
// - font-family
$sanchez: 'Sanchez', serif;


// - fonts/colors
$body-text: #494354;
$hero-text: #3a3f7c;

// - fonts/sizes
$body-copy: 3em;
$card-copy: 2em;

//General
body {
  background: #fbfbfb;
  font-family: 'Helvetica Neue', Helvetica,  sans-serif;
  color: #333;
  font-size: 62.5%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.container {
  height: 100vh;
  width: 100%;
}

.main {
  margin: 100px auto 40px auto;
  width: 80%;
  min-width: 330px;
  max-width: 500px;
  font-size: $body-copy;
  font-weight: 200;
  line-height: 30px;
  display: block;
  text-align: center;
  h1 {
    font-size: 80px;
    line-height: 1;
    letter-spacing: -1px;
    font-family: $sanchez;
    margin-bottom: 35px;
    i {
      font-size: 45px;
      margin-left: 10px;
    }
  }
  p {
    margin-bottom: 40px;
  }

  .input-group {
    margin: 0 auto;
    min-width: 250px;
    maw-width: 310px;
    width: 70%;

//    .btn-success {
//      background: cadetblue;
//    }

  }

}//end .main

.results {
  .results-item {
    background-color: #fff;
    margin: 5px;
    height: 200px;
    -webkit-box-shadow: 2px 2px 7px 0px rgba(184,184,184,1);
    -moz-box-shadow: 2px 2px 7px 0px rgba(184,184,184,1);
    box-shadow: 2px 2px 7px 0px rgba(184,184,184,1);
    overflow: hidden;
    text-overflow: ellipsis;
    .results-item-content {
      padding: 15px;
    }
  }
  p {
    font-size: $card-copy;
  }
  .number {
    text-align: center;
    font-size: 2.5em;
    color: #fff;
    padding: 4px;
    width: 30px;
    background-color: rgb(92, 184, 92);
  }

}//end .results

//Media Queries









